body {
	background-color: #13161D;
}
#nav-ul {
	list-style-type: none;
	display: flex;
	display: -webkit-flex;
}
#nav {
	padding: 15px;
	overflow: auto;
	display: flex;
	display: -webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	background-color: #7f5a83;
	background-image: linear-gradient(to right, #32405b 0%, #123e54 80%);
}
.nav-element {
	color: #D1E1FF;
	font-size: 24px;
	margin: 30px;
	font-family: arctic;
}
#mascot {
	max-height: 100%;
}
@font-face {
	font-family: arctic;
	src: url(../other/arctic.otf);
}
.nav-link:link {
	color: #D1E1FF;
	text-decoration: none;
}
.nav-link:visited {
	color: #D1E1FF;
	text-decoration: none;
}
.nav-link:hover {
	color: #D1E1FF;
	text-decoration: none;
}
.nav-link:active {
	color: #D1E1FF;
	text-decoration: none;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #D1E1FF;
}
::-webkit-scrollbar-thumb {
	background: #a6d6f2;
}
::-webkit-scrollbar-thumb:hover {
	background: #36699C;
}
#foot {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 105px;
	background-color: #71a6d2;
}
#foot-h1 {
	padding: 15px;
	font-size: 23px;
	font-family: arctic;
	text-align: center;
}
#title {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 75px;
	font-family: Calibri;
	text-align: center;
	color: #D1E1FF;
}
#sub-title {
	font-size: 60px;
	font-family: Calibri;
	text-align: center;
	color: #D1E1FF;
}
.parallax {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
}
.cards {
	background-image: linear-gradient(to bottom, #D1E1FF 20%, #a6d6f2 90%);
	width: 30%;
	padding: 15px;
	border-radius: 20px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}
.cards h1 {
	font-family: Calibri;
	font-size: 25px;
	text-align: center;
}
.cards h2 {
	font-family: Calibri;
	font-size: 20px;
	text-align: center;
}
#card-1 {
	transform: translate(0px, 0px);
}
#card-2 {
	transform: translate(0px, 75px);
}
#card-3 {
	transform: translate(0px, 150px);
}
.card-ul {
	font-size: 18.5px;
	font-family: Calibri;
	margin: 10px 0px 5px 20px;
	list-style: square;
}
#download-button {
	margin-top: 50px;
	padding: 15px 25px;
	font-family: verdana;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #0f0f0f;
	background-color: #a6d6f2;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #434655;
}
#download-button:hover {
	background-color: #71a6d2 
}
#download-button:active {
	color: #D1E1FF;
	background-color: rgb(31, 63, 87);
	box-shadow: 0 5px #434655;
	transform: translateY(4px);
}
#download-link:link {
	text-decoration: none;
	color: inherit;
}
#download-link:visited {
	text-decoration: none;
	color: inherit;
}
#download-link:hover {
	text-decoration: none;
	color: inherit;
}
#download-link:active {
	text-decoration: none;
	color: inherit;
}
#upgrade {
	margin-top: 50px;
	margin-left: 30px;
	font-size: 60px;
	font-family: Calibri;
	text-align: left;
	color: #D1E1FF;
}
#up {
	margin-top: 50px;
	margin-left: 30px;
	font-size: 25px;
	font-family: Calibri;
	text-align: left;
	color: #D1E1FF;
}
#divload {
	display: flex;
	justify-content: space-between;
	margin-right: 70px;
	margin-left: 20px;
	margin-bottom: 13px;
}
#sys-rec {
	margin-left: 40px;
	list-style: square;
}
#info {
	margin-top: 25px;
	width: 45%;
}
#nux-img {
	height: 650px;
}
#down-button {
	margin-top: 30px;
	margin-left: 20px;
	background-color: #0f0f0f;
	border: none;
	border-radius: 5px;
}
.download {
	line-height: 75px;
	width: 400px;
	height: 75px;
	background: #0f0f0f;
	border-radius: 5px;
	color: #f0f0f0;
	cursor: pointer;
	border: 1px solid #fff;
	margin-top: 75px;
	margin-left: 50%;
	transform: translateX(-50%);
	font-family: arctic;
}
.download:hover {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.dfn {
	font-size: 20px;
	text-align: center;
}
#down-a:link {
	text-decoration: none;
	color: inherit;
}
#down-a:visited {
	text-decoration: none;
	color: inherit;
}
#down-a:hover {
	text-decoration: none;
	color: inherit;
}
#down-a:active {
	text-decoration: none;
	color: inherit;
}
#why {
	margin-top: 50px;
	width: 45%;
}
#why-h1 {
	margin-top: 30px;
	margin-left: 40px;
	font-size: 60px;
	font-family: Calibri;
	text-align: left;
	color: #D1E1FF;
}
#why-h3 {
	margin-top: 50px;
	margin-left: 40px;
	font-size: 25px;
	font-family: Calibri;
	text-align: left;
	color: #D1E1FF;
	text-align: justify;
}
#why-div {
	display: flex;
	justify-content: space-between;
}
#penguins {
	height: 375px;
	margin-top: 45px;
	margin-right: 70px;
}
#penguins-comp {
	width: 700px;
	margin-top: 50px;
	margin-left: 70px;
}
#change {
	margin-top: 50px;
	width: 45%;
}
#change-h1 {
	margin-top: 30px;
	margin-right: 40px;
	font-size: 60px;
	font-family: Calibri;
	text-align: left;
	color: #D1E1FF;
}
#change-h3 {
	margin-top: 50px;
	margin-right: 40px;
	font-size: 25px;
	font-family: Calibri;
	text-align: left;
	color: #D1E1FF;
	text-align: justify;
}
#join-penguins {
	height: 375px;
	margin-top: 45px;
	margin-right: 120px;
}
#join-a {
	background-color: #123e54;
	cursor: pointer;
	text-decoration: underline;
}
#join-a:link {
	color: inherit;
}
#join-a:visited {
	color: inherit;
}
#join-a:hover {
	background-color: #32405b;
	color: inherit;
}
#join-a:active {
	color: inherit;
}
#join-h1 {
	margin-top: 60px;
	font-size: 60px;
	font-family: Calibri;
	text-align: center;
	color: #D1E1FF;
}
#join-h3 {
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 40px;
	font-family: Calibri;
	text-align: center;
	color: #D1E1FF;
}
#join-h5 {
	margin-top: -40px;
	margin-bottom: 50px;
	font-size: 30px;
	font-family: Calibri;
	text-align: center;
	color: #D1E1FF;
}
#form {
	background-color: #426e84;
	width: 40%;
	height: 360px;
	border-radius: 10px;
	margin-left: 35px;
	padding: 20px;
	margin-bottom: 20px;
	background-image: linear-gradient(to bottom, #426e84 0%, #123e54 80%);
}
#ask-h1 {
	font-size: 40px;
	font-family: Calibri;
	text-align: center;
	color: #D1E1FF;
}
#subbutton {
	width: 40%;
	height: 33px;
	border: 1px solid #13161D;
	background-color: #f0f0f0;
	border-radius: 10px;
	font-size: 20px;
	font-family: Calibri;
	margin-bottom: 10px;
}
.textarea {
	width: 60%;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid #13161D;
	border-radius: 10px;
	padding: 10px;
	resize: none;
	text-align: center;
}
.text {
	width: 60%;
	height: 30px;
	margin-top: 10px;
	border: 1px solid #13161D;
	border-radius: 10px;
	padding: 7px;
	text-align: center;
}
#all {
	max-height: 360px;
	width: 50%;
	margin-right: 35px;
	border-radius: 10px;
	background-color: #91c6f2;
	padding: 20px;
	overflow: auto;
	background-image: linear-gradient(to bottom, #426e84 0%, #123e54 80%);
}
#forum-all {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.post {
	background-color: #13161D;
	width: auto;
	padding: 10px;
	border-radius: 10px;
	margin-left: 3px;
}
.post h2 {
	color: #D1E1FF;
	font-family: Calibri;
	font-size: 20px;
}
.post p {
	color: #D1E1FF;
	font-family: Calibri;
	font-size: 17px;
	word-break: break-all;
}
.post h3 {
	color: #D1E1FF;
	font-family: Calibri;
	font-size: 17px;
}
#no-post {
	margin-top: 10px;
	font-size: 40px;
	font-family: Calibri;
	text-align: center;
	color: #D1E1FF;
}
#also-no-post {
	margin-top: 10px;
	font-size: 30px;
	font-family: Calibri;
	text-align: center;
	color: #D1E1FF;
}
